/* Style pour la section À Propos */
#apropos section {
    padding: 40px;
    background-color: #FFFFE8;
    border-radius: 8px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* fin style pour la section À Propos  */