/* Style pour le formulaire de contact */
#contact-form  form {
    width: 50%;
    display: block;
    text-align: center;
    margin-top: 0em;
    padding: 20px;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto;
}
#contact-form h3 {
    text-transform: uppercase;
    color: #333;
    margin-bottom: 1rem;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form textarea {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contact-form input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
}

/* Style pour le formulaire de contact */