*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
};
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
};
/* BARRE DE NAVIGATION */

nav{
    height: 25vh;
    padding: 10px 0 25px 0;
}
nav .div1 img{
   max-width:100px;
   max-height: 100px;
} 
.onglet{
    font-weight: bolder;
    color:#c03923;
}
.onglet li{
    white-space:nowrap;
}
.shop{
    position: relative;
}
.shop span{
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    top:-5px;
    right:-13px;
    border-radius: 50%;
    font-size: 0.5em;
    padding:12px 1px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.div1{
  width: 15vw; 
}
.div3{
    width: 27vw;
    cursor: pointer; 
    box-sizing: border-box;
}
.div2{
    width: 55vw;                                                                                                            
}

/* profil */
.marron{
    color: #8b4513 !important;
}
.marron:hover{
  background-color: #8B4513 !important;
  border: 1px solid #8B4513;
  transform: scale(1.05) translateY(1.5px); 
  transition: all 0.5s ease-in-out;
}
.profil,.disconnect{
    position:absolute;
    top:25vh;
    right:60px;
    animation: translate 3s;
    width: 40vw !important;
}
.fa-user-color{
    transform: scale(0.85) translateY(-1px) !important;
}
.fa-shopping-cart:hover,.fa-search:hover{
    transform: scale(1.1) translateY(2px) !important; 
}
.disconnect h5{
    word-wrap: break-word;
}
.disconnect p button a{
    color: white;
    text-decoration: none;
}
.lien{
    text-decoration-line: underline;
    text-decoration-color: aqua;
    text-underline-offset:8px;      
    text-decoration-style:dashed;   /* permet de determiner le style d'un trait */
    text-decoration-thickness: 5px; /* permet de determiner la l'epaisseur d'un trait */
}

@keyframes translate {
     0%{
        top:22vh;
     }    
}

@media screen and (max-width:920px) {
     .div2{
        display: none !important;
        position:absolute;
        top:16vh;
        left:0;
        width: 100%;    
    }
    .visible{
        display: inline-block !important;
    }
    .burger-active{
        display: block !important;
    }
    .transform:hover{
    transform: scale(0.8) translate(2px) ;
    transition: transform 0.1s ease-in-out;
}

    .onglet{
        flex-direction: column;
        background-color: gainsboro;
        border-radius:6px;
        padding-bottom: 17px;
        padding-left: 10px;
    }
    .div1{
        width: 60vw;
    }
    .div3{
        width: 35vw;
        padding-left: 7vw;
    }
    .div3 div {
        justify-content: flex-end;
        /* gap:2px !important; */
    } 
    .div3 div .fa-bars {
       display: inline-block !important;
    }  
    .profil,.disconnect{
        width: 60vw !important;
    }                                                
        } 
 @media screen and (max-width:680px) {
        .profil,.disconnect{
        width: 70vw;
    }   
    .div1{
        width: 52vw;
    }
    .div3{
        width: 42vw;
    }     
        }
@media screen and (max-width:470px){
    .div3 div{
        gap:25px !important;
    }
    .profil,.disconnect{
        width:90vw !important;
        right:8px !important;
    }

     .div1{
        width: 45vw;
    }
    .div3{
        width: 47vw;
        margin-top:5px !important;
    }     
}

 @media screen and (max-width:360px) {
    .profil,.disconnect{
        width: 90vw !important;
        right:5px !important;
    }                 
    }
/* FIN BARRE DE NAVIGATION */
/* MAIN */
main{
    position: relative;
    top:25vh;
    border:1px solid green;

}
/* FOOTER */
main footer{
    padding:15px 0 30px 0;
    min-height: 22vh;
    /* border: 2px solid magenta; */
    /* position:relative; */
}
main .box-container{
    display: flex;
    flex-direction: row;
    
    gap:14vw;
}

@media screen and (max-width:1060px) {

   main .box-container{
    gap:8vw;
} 
}
@media screen and (max-width:720px){
    main .box-container{
    gap:5vw;
}    
}

@media screen and (max-width:695px) {
    main .box-container{
        flex-direction: column !important;
        padding-left:30px;
    }
}
/* END FOOTER */
/* DEBUT INSCRIPTION */
.row{
    left:12vw;
    width: 70%;
    font-size: 1.2em;
    font-weight: bolder;
}
.forme{
font-size: 1em;
font-weight: 100;
background-color: aliceblue;
}
.formes{
    position:relative;
    left:12%;
    top:4vh;
}
.compte{
    font-weight: 100;
}
.inscription{
    font-size: 1.7em;
    padding: 30px 5px 0 5px;
    font-weight: bolder;
    text-align: center;
}
.inscription1{
    font-size: 1.3em;
    padding: 30px 5px 0 5px;
    font-weight: bolder;
    text-align: center;
}
.connexion1{
    position: absolute !important;
    top:32% !important;   
}
@media screen and (max-width:992px) {
 .row{
    left: 0 !important;
    width: 100% !important;
    font-size: 1em;
}   
.formes{
    left:1% !important;
    top:4vh !important;
    width: 100% !important;
}
.inscription{
    font-size: 1em;
}
.compte{
    font-size: 0.9em;
}

}
@media screen and (max-width:450px) {
    .form-select{
        font-size: 0.8em;
        width: 100%;
    }
    
}
/* FIN INSCRIPTION */
/* END MAIN */