*{
    padding:0;
    margin: 0;
    box-sizing: border-box
};
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    /* scrollbar-color: blue;
    scrollbar-width: thin; */
};
/* BARRE DE NAVIGATION */

.azerty{
    min-height: 500px;
}
body nav img{
   max-width:100px;
   max-height: 100px;
} 
.onglet{
    font-weight: bolder;
    color:#c03923;
}
.onglet li{
    white-space:nowrap;
}
/* .onglet li ul li a{
    font-weight: bolder;
} */
/* .sous-lien{
    text-decoration: none;
    color: black;
} */
.shop{
    position: relative;
}
.shop span{
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    top:-20px;
    right:-15px;
    /* background-color: goldenrod; */
    border-radius: 50%;
    font-size: 0.5em;
    padding:12px 1px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.div1{
  width: 15vw;  
}
.div3{
    width: 10vw;
    cursor: pointer;
}
.div2{
    width: 65vw;                                                                                                             
}
.marron{
    color: #8b4513 !important;
}
.marron:hover{
  background-color: #8B4513 !important;
  border: 1px solid #8B4513;
  transform: scale(1.05) translateY(1.5px); 
  transition: all 0.5s ease-in-out;
}
.profil,.disconnect{
    position:absolute;
    top:23vh;
    right:70px;
    animation: translate 3s;
    width: 30vw;
}
.disconnect h5{
    word-wrap: break-word;
}
.disconnect p button a{
    color: white;
    text-decoration: none;
}
.lien{
    text-decoration-line: underline;
    text-decoration-color: aqua;
    text-underline-offset:8px;      
    text-decoration-style:dashed;   /* permet de determiner le style d'un trait */
    text-decoration-thickness: 5px; /* permet de determiner la l'epaisseur d'un trait */
}

@keyframes translate {
     0%{
        top:20vh;
     }    
}

@media screen and (max-width:920px) {
     .div2{
        display: none !important;
        position:absolute;
        top:22vh;
        left:0;
        width: 100%;
        padding: 0;
        
    }
    .visible{
        display: inline-block !important;
    }
    .burger-active{
        display: block !important;
    }
    .transform:hover{
    transform: scale(0.8) translate(2px) ;
    transition: transform 0.1s ease-in-out;
}

    .onglet{
        flex-direction: column;
        background-color: gainsboro;
        border-radius:6px;
        padding-bottom: 17px;
    }
    .div1{
        width: 60vw;
    }
    .div3{
        width: 30vw;
        padding-left: 5vw;
    }
    .div3 div {
        justify-content: flex-end;
        /* gap:2px !important; */
    } 
    nav img{
        width: 120px;
        height: 120px;
    } 
    .div3 div .fa-bars {
       display: inline-block !important;
    }  
    .profil,.disconnect{
        width: 40vw;
         top:25vh;
    }                                                
        } 
        @media screen and (max-width:680px) {
        .profil,.disconnect{
        width: 70vw;
         top:30vh;
    }                 
            
        }
@media screen and (max-width:470px){
    nav img{
        width: 90px;
        height: 90px;
    }
    .div3 div{
        gap:25px !important;
    }
    .div2{
        display: none !important;
        position:absolute;
        top:22vh;
        left:0;
        width: 100%;
        padding: 0;
    }
    .profil,.disconnect{
        width:70vw !important;
    }
}

 @media screen and (max-width:360px) {
        nav img{
           width: 80px;
           height: 80px;
        }
        .profil,.disconnect{
        width: 90vw !important;
        top:22vh !important;
        right:5px;
    }                 
    }
/* FIN BARRE DE NAVIGATION */
/* MAIN */
main{
    position: relative;
    top:25vh;
    border:2px solid green;

}
/* FOOTER */
footer{
    /* min-height: 20vh; */
    border: 5px solid magenta;
    /* position:relative; */
}
.box-container{
    display: flex;
    flex-direction: row;
    
    /* gap:14vw; */
}

@media screen and (max-width:1060px) {

   .box-container{
    gap:8vw;
} 
}
@media screen and (max-width:720px){
    .box-container{
    gap:5vw;
}    
}

@media screen and (max-width:695px) {
    .box-container{
        flex-direction: column;
        gap:0;
        padding: 0;
    }
}
/* END FOOTER */
/* SECTION */
section{
    height: 70vh;
}
/* FIN SECTION */
/* END MAIN */